:root {
    --font-accent_clr: #1c27a0;
}

* {
    margin: 0;
    padding: 0;
}

body{
    background-color:  #101010;
}

.main {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav {
    margin-right: 25px;
}

.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000129;
    overflow-x: hidden;
    padding: 15px 10px;
    margin-right: 50px;
    position: static;
    width: 100dvw;
}

.navBar ul{
    display: flex;
}

.navBar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-family: roboto;
    font-weight: 200;
    
}

.navBar a:hover{
    background-color: #0d6efd80;
    transform: scale(1.2);
}


.navBar button{
    background-color: #000129;
    color: white;
    border: none;
    height: 50px;
    width: 100px;
}

.navBar button:hover{
    background-color: #0d6efd80;
    transform: scale(1.1);
}

.navIcon {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.navIcon img{
    height: 47px;
    border-radius: 50%;
    transition: transform 0.2s ease-in-out;
}

.navIcon img:hover{
    transform: scale(1.1);
}

.navIcon h2{
    color: white;
    font-family: roboto;
    font-weight: 700;
}

.boxHomeBanner {
    height: inherit;
    width: 100dvw;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0, 0) 40%, rgb(16, 16, 16) 80%),url(/assets/bg.png);
    background-color: rgba(0, 0, 0, .7);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    
}

.boxContent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    width: 100dvw;
    outline: green dashed 1px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    outline: greenyellow 1px dashed;
    width: inherit;
    height: inherit;
}

.gridLeft, .gridRight {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;
}

.flex {
    display: flex;
    gap: 5rem;
}

.centerContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    width: 80dvw;
}


#homeBanner h1{
    color: white;
    font-size: 72px;
    font-family: roboto;
    font-weight: bold;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 10);
}

#homeBanner img{
    border-radius: 50%;
    height: 450px;
    transition: transform 0.2s ease-in-out;
}

#homeBanner img:hover{
    transform: scale(1.1);
}

#homeBanner p{
    text-align: center;
    color: white;
    font-size: 1.3em;
    font-family: roboto;
}

#button1{
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #000129;
    box-shadow: 0px 0px 8px 2px #0d6efd80;
    height: 100px;
    width: 200px;
    font-family: roboto;
    font-weight: 900;
    font-size: 20px;
    transition: transform 0.25s ease-in-out;
}

#button1:hover{
    transition: transform 0.25s ease-in-out;
    transform: scale(1.1);
    box-shadow: 0px 0px 18px 1px #0d6efdb3;
}

#button2{
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: rgb(51, 0, 0);
    height: 100px;
    width: 200px;
    box-shadow: 0px 0px 8px 2px rgba(255, 27, 27, 0.5);
    font-family: roboto;
    font-weight: 900;
    font-size: 20px;
    transition: transform 0.25s ease-in-out;
}

#button2:hover{
    transition: transform 0.25s ease-in-out;
    transform: scale(1.1);
    box-shadow: 0px 0px 18px 1px rgb(202, 50, 50);
}

#timeline h1{
    color: white;
    font-family: roboto;
    font-weight: 600;
    font-size: 80px;
}


#timeline img{
    height: 500px;
    width: 800;
}

#timeline p{
    font-family: roboto;
    font-size: 20px;
    color: white;
    text-align: justify;
    
}

#timeline2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.timeline2 li img{
    height: 500px;
    width: 800px;
}

#timeline2 p{
    color: white;
    font-family: roboto;
    font-size: 50px;
    text-align: justify;
}

.section {
    height: 90dvh;
    width: 90dvw;
    overflow-y: clip;
}


